@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: #eee;
  display: flex;
}
header {
  background: #fff;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: sticky;
  top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#logo-social {
  height: 100%;
  width: min-content;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 255, 0.2) 0px 2px 8px 0px;
}
#logo {
  height: 90%;
}
#section-search {
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;
  border-radius: 50px;
  align-self: center;
  background: #e0e0e0;
  width: 65%;
  height: 5%;
  margin: 5% auto;
}
#search {
  width: 80%;
  background: #e0e0e0;
  border: 0;
}

#search:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
#section-stories-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  grid-column-start: 2;
  grid-column-end: 4;
  height: 25vh;
  width: 50vw;
  justify-self: center;
}
#stories {
  height: 60%;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
  background: #e0e0e0;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.stories-container {
  width: 15%;
  height: 100%;
  border-radius: 10px;
  background: #b7b7b7;
}
.pic-stories {
  margin: 5%;
  width: 35%;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
main {
  padding-bottom: 1%;
  background: #fff;
  grid-column-start: 2;
  grid-column-end: 4;
  height: 88vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main::-webkit-scrollbar {
  display: none;
}
#aside-esq {
  background: #fff;
  height: 88vh;
  width: 20vw;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  position: sticky;
  top: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#div-trends {
  width: 90%;
  height: 30%;
  border-radius: 10px;
  background: #e0e0e0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

#internal-trends-div {
  width: 75%;
  height: 75%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#menu-bar {
  width: 90%;
  height: 60%;
  margin: 5% 0 5% 0;
  border-radius: 10px;
  background: #e0e0e0;
}
#aside-dir {
  background: #fff;
  height: 88vh;
  width: 20vw;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 6;
  position: sticky;
  top: 10%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#recomendacoes {
  width: 90%;
  height: 50%;
  border-radius: 10px;
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.ads {
  width: 100%;
  height: 40%;
  margin: 5% auto;
  border-radius: 10px;
  background: #e0e0e0;
}
#div-ads {
  width: 90%;
  height: 40%;
}
#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 8vh 27vh 35vh 20vh 5vh;
  grid-gap: 10px 10px;
  position: fixed;
  margin: 5px;
}
#span-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 5%;
  border-radius: 50px;
  padding: 1% 5%;
  margin: 5% auto;
  background: #e0e0e0;
}

#profile-div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

#profile-pic {
  width: 1.5vw;
  border: 1px solid #000;
  border-radius: 5px;
}
#trends-title {
  font-family: "Raleway", sans-serif;
  margin: 5% 10%;
}
ul {
  width: min-content;
  align-items: start;
  padding: 0 0 5% 5%;
}
.td-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#internal-trends-div {
  height: 100%;
  width: 100%;
}
table {
  width: 100%;
  height: 100%;
}
tr {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 2%;
  padding: 1% 4%;
  justify-content: space-between;
  background: #e0e0e0;
  color: #000;
  list-style: none;
}
.td-item {
  text-decoration: none;
  color: #000;
  font-size: 90%;
  justify-self: flex-start;
}
.td-item:hover {
  color: #777;
}
#trends-fb {
  font-size: 50%;
  color: #777;
}
#menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#btn-post {
  width: 80%;
  list-style: none;
  margin: 0 auto;
}
.menu-item-list {
  width: 100%;
  height: 10%;
  list-style: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  align-items: center;
  gap: 15%;
}
.tr-menu {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 50px;
  padding: 1% 4%;
  justify-content: center;
  color: #000;
  list-style: none;
}
.td-item-a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
.container-recomendacao {
  width: 80%;
  height: 15%;
  border-radius: 10px;
  background: #b7b7b7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 5%;
  margin: 0 10%;
}
.pic-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: min-content;
}
.pic-rec {
  border: 1px solid #000;
  height: 100%;
  border-radius: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.rec-nome {
  font-size: 80%;
  margin: 0;
}
.amigos-comum {
  font-size: 60%;
  margin: 0;
}
.cidade-rec {
  font-size: 50%;
  margin: 5%;
}
.text-div-rec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-add {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 25px;
  border: 1px solid #057fd0;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 80%;
  padding: 6px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 20%;
}
#img-post {
  width: 8%;
  border-radius: 50%;
}
#text-area-post {
  width: 60%;
  height: 80%;
  border-radius: 5px;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
#posts {
  display: flex;
  gap: 2%;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  width: 50%;
  margin: auto auto;
  border-radius: 5px;
  background: #fff;
}
#input-post {
  background: #e0e0e0;
  border: 0;
}
#input-post:focus {
  outline: 0;
}
#div-principal{
  width: 80%;
  margin: 2% auto;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#facebook{
  height: 100%;
}





#content-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  height: 50%;
}
#profile {
  display: flex;
  width: 100%;
  height: 15%;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#profile-info {
  margin-left: 3%;
  padding: 0;
  height: min-content;
  align-self: center;
}
#title-profile,
#time-post {
  padding: 0;
  margin: 0;
}
#content {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 70%;
  padding: 0 0 1px 0;
}
#btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#content-center {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 190px;
  border: 1px solid black;
}
#content-description {
  margin: 0;
  padding: 0;
}
#img-content {
  height: 80%;
  width: 100%;
}
#status-info {
  display: flex;
  justify-content: space-around;
}
#pic-content {
  height: 90%;
  margin: 0 1.5% 0 5%;
  border: 2px dashed black;
  border-radius: 50%;
}
.stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats p{
  font-size: 60%;
  border: 0;
  margin: 0;
  padding: 0;
}
.options {
  margin: 0;
  padding: 0;
  font-size: 100%;
}